/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-cn0qk0ouia] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-cn0qk0ouia] {
    color: #0077cc;
}

.btn-primary[b-cn0qk0ouia] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-cn0qk0ouia], .nav-pills .show > .nav-link[b-cn0qk0ouia] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-cn0qk0ouia] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-cn0qk0ouia] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-cn0qk0ouia] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-cn0qk0ouia] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-cn0qk0ouia] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
.search-suggest-dropdown[b-cn0qk0ouia] {
    position: absolute;
    top: 100%; /* Căn nằm ngay sát dưới thanh tìm kiếm */
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    z-index: 9999; /* Đảm bảo nó nổi lên trên mọi thành phần khác */
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

#suggestList[b-cn0qk0ouia] {
    overflow-y: auto;
    max-height: 350px;
}

.suggest-item[b-cn0qk0ouia] {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    color: #333;
    transition: background 0.2s;
}

    .suggest-item:hover[b-cn0qk0ouia] {
        background: #f9f9f9;
    }

.suggest-img[b-cn0qk0ouia] {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border: 1px solid #eee;
}

.suggest-name[b-cn0qk0ouia] {
    font-size: 14px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Cắt chữ nếu tên dài quá 2 dòng */
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.suggest-price[b-cn0qk0ouia] {
    color: #e6231e;
    font-weight: bold;
    font-size: 14px;
}

.suggest-footer[b-cn0qk0ouia] {
    background: #e9ecef;
    cursor: pointer;
    font-size: 14px;
}

    .suggest-footer:hover[b-cn0qk0ouia] {
        background: #dee2e6;
    }